/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.printable { display: none; }



@media print
{
  .non-printable { display: none; }
  .printable { display: block; }
  .body {color:black;}
}

@media screen and (max-width:768px){
  .mobile{
    overflow-x: scroll;
  }
}

