<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">User Guide</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.panel-heading -->
<div class="panel-body">


    <div class='row'>
        <h2>Point Of Sale Page:</h2>
        <ol>
            <li><a href="https://www.loom.com/share/3cda8f27acb04155bd8701101ffabf0e">Sale product </a></li>
            <li><a href="https://www.loom.com/share/c82f19f5545c42c29fcfef73f4ebd284" >Add product/credit at selling</a></li>
        </ol>

    </div>
    <div class='row'>
        <h2>Last Sold Item Page:</h2>
        <ol>
            <li><a href="https://www.loom.com/share/cb725fb7821b43ccac89baf7ab6bbcb3">Credit Sale/Debit Sale</a></li>
        </ol>

    </div>
    <div class="row">
        <h2>Add Customer</h2>
        <ol>
            <li><a>If Customer has "customer" in its name it will not delete after pay for sale</a></li>
            <li><a href="https://www.loom.com/share/9530645abfd7451e9679326ba2877df6">Add Customer</a></li>
        </ol>
    </div>
    <div class='row'>
        <h2>Add/Edit Items</h2>
        <ol>
            <li><a href="https://www.loom.com/share/fee4e17b0c994261b66285185999659b">Add Item/supplier Bill</a></li>
            <li><a href="https://www.loom.com/share/ca2f6ccfc8d345a19ba2707854a2f17a">Edit Item</a></li>
        </ol>

    </div>
    <div class='row'>
        <h2>Supplier Ledger:</h2>
        <ol>
           <li><a href="https://www.loom.com/share/050557bf80c943ce960d3ba77d865adc">Suppler Detail</a></li>
        </ol>

    </div>
    <div class='row'>
        <h2>Report's Page:</h2>
        <ol>
            <li><a href="https://www.loom.com/share/3757ae14030b496b8e4895806c7f1faa">Sale Reports</a></li>
        </ol>

    </div>

</div>