<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Supplier Detail</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <strong>Choose Supplier <select class="form-control" ng-model="selectedSupplier.categoryId"
                        ng-options="category.categoryId as category.name for category in chooseSupplier"
                        ng-change="callIt(selectedSupplier.categoryId)"></select></strong>
                </br>
                <!-- /.table-responsive -->
                <div class='row' ng-show="whenTable">
                    <div>
                        <center><img src="/img/img1.png" alt="DressUP" style="width:25%"></center>
                        <center>
                            <div style="margin:0">
                                <p style="margin:0"><strong>Phone: +923452652950</strong></p>
                                <p style="margin:0"><strong>6.N.R.Avenue (Tapal Bldg) SD-I,Block-G <br>Barkat-e-Hyderi
                                        North Nazimabad,Karachi</strong></p>
                            </div>
                        </center>
                        <hr />
                        <h3 align="center">Supplier's Details</h3>
                        <br />

                        <p align="left" ng-model="date"><b>Date:</b> {{date}} </p>

                        <hr />
                        <br />
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Barcode</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Qty.</th>
                                    <th>Category</th>
                                    <th>Wholesale</th>
                                    <th>Retail</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat='s in sale'>

                                    <td>{{s.barcode}}</td>
                                    <td>{{s.itemName}}</td>
                                    <td>{{s.itemDesc}}</td>
                                    <td>{{s.itemQty}}</td>
                                    <td ng-click="showItemCat(s.itemCategory)">{{s.category}}</td>
                                    <td>Rs {{s.itemWholesale}}</td>
                                    <td>Rs {{s.itemRetail}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="row">
                            <span class="col-md-6"></span>
                            <label class="col-md-3">Total Items:{{totalit}}</label>
                            <label class="col-md-3">Total Wholesale: {{whole}}</label>
                            <span class="col-md-6"></span>
                            <label class="col-md-3">Gross Profit: {{myProfit}}</label>
                            <label class="col-md-3">Total Retail: {{mysale}}</label>
                        </div>

                        </br>
                        <hr />
                        <p align="center">**************** Supplier's Report ****************</p>
                    </div>
                    <div class="col-sm-5"></div>
                    <center><a ng-click="print()" class="btn btn-lg btn-success col-sm-2 ">Print</a></center>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <modal title="Supplier Receipt" visible="showReturnModal">
        <div print-section>
            <center><img src="/img/img1.png" alt="DressUP" style="width:25%"></center>
            <center>
                <div style="margin:0">
                    <p style="margin:0"><strong>Phone: +923452652950</strong></p>
                    <p style="margin:0"><strong>6.N.R.Avenue (Tapal Bldg) SD-I,Block-G <br>Barkat-e-Hyderi North
                            Nazimabad,Karachi</strong></p>
                </div>
            </center>
            <hr />
            <h3 align="center">Supplier's Details</h3>
            <br />

            <p align="left" ng-model="date"><b>Date:</b> {{date}} </p>

            <hr />
            <br />
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Barcode</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Qty.</th>
                        <th>Category</th>
                        <th>Wholesale</th>
                        <th>Retail</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat='s in sale'>

                        <td>000000000{{s.barcode}}</td>
                        <td>{{s.itemName}}</td>
                        <td>{{s.itemDesc}}</td>
                        <td>{{s.itemQty}}</td>
                        <td>{{s.category}}</td>
                        <td>Rs {{s.itemWholesale}}</td>
                        <td>Rs {{s.itemRetail}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <span class="col-md-2"></span>
                <label class="col-md-4">Total Items:{{totalit}}</label>
                <label class="col-md-6">Total Wholesale: {{whole}}</label>
                <span class="col-md-2"></span>
                <label class="col-md-4">Gross Profit: {{myProfit}}</label>
                <label class="col-md-4">Total Retail: {{mysale}}</label>
            </div>
            <hr />
            <p align="center">**************** Supplier's Report ****************</p>   
            
        </div>
        <center><a href="javascript:window.print() " class="btn btn-lg btn-success">Print</a></center>
    </modal>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<modal title="Item Category" visible="itemCategoryModal">
    <hr>
    <div class="row">
        <div style="display: inline-flex; margin-right:3px;" ng-repeat="cat in thisCat">
            <input class="form-control" ng-model="cat" style="width: 110px;" disabled>
        </div>
    </div>
    <hr>
</modal>

<!-- /#wrapper -->